body{
    margin: 0;
}

body, a{
    /* margin: 0; for some reason ifg i use this the stysling dosent works on other sites than the landing */
    padding: 0;
    color: white;
    text-decoration: none;

    font-family: Arial, ;

    /* new added */

    /*!                  centering the bg-img                    */
    background: url(/imgs/backgroundCompressed.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
        ), url(/imgs/backgroundCompressed.jpg);
}



body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing >p {
    font-size: 50px;
    text-align: center;
    position: relative;
    top: -16%;
    line-height: 0.8;
}

.landing > img{
    width: 600px;
    position: relative;
    top: -5%;
}

.landing > p > span {
    color: black;
    font-size: 75px;
}






/* position of the burgerMenu */

.nav{
    position: fixed;
    top: 30px;
    left: 45px;
}


.burger{
    cursor: pointer;
    display: none;
    width: 100%;
    font-size: 40px;
/* padding: 50px 0;
*/  text-align: center;
    /* background-color: lightblue; */
    margin-top: 20px;
} /* seems the problem with the ugly menu is not there anymore */
    /* make only the  */

#hiddenMenu {
    display: none; /* this is that on pageload the menu isnst shown */
    position: absolute; /* this is for making the burger not "jump */
    /* list-style-type: none; */ /* seems this does nothing */
    
}

/* #hiddenMenu > div > a {
    display: inline;
} */

.show{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    white-space: nowrap
}

.show > :first-child{
    padding-top: 15px;
}

.show > a:hover{
    color: #F34423;
}
.showOnMainSite > :first-child{
    cursor: grab;
}
.showOnMainSite > :first-child:hover{
    color: white;
}
.showOnMainSite > :nth-child(3){
    padding-left: 30px;
}
.showOnMainSite > :nth-child(4){
    padding-left: 30px;
}
